table{
   border-collapse:collapse;
   display: flex;
   justify-content: center;
   align-items: center;
  

}
td,th{
    border: 2px solid #ddd;
    padding: 15px;
}
th{
    background-color: rgb(42, 151, 165);
    color: white;
}
h1{
    text-align: center;
    margin-top: 50px;
    color: red;

}
td{
    text-align: center;
    font-weight: bold;
}
